body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.status, .controls {
    width: 45%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#parkingSlots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#parkingSlots div {
    background: #eee;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #007BFF;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
